.banner-container {
  position: relative;
  height: 650px;
  text-align: center;  
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.text-content {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 200px; /* Adjust as needed */
  color: #000;
  /* Rest of your text styles */
}
@media (max-width: 767px) {
  .img {
    display: none;
  }
}